<!DOCTYPE html>
<html>
  <head>
    <title>Warborne</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Caesar+Dressing" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar">
      <h4><%=link_to "Warborne", clans_index_path, id: "logo-title" %></h4>
      <ul id="links">
        <% if !user_signed_in? %>
            <li><%=link_to "Log in", new_user_session_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%=link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <li><%=link_to "Profile", edit_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
    <div id="main-wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
